/* [project]/shared/components/StatusChip.module.css [app-client] (css) */
.StatusChip-module__Hsl1ZW__chip {
  border-radius: 9999px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 8px;
  font-size: 13px;
  font-weight: 500;
  line-height: 21px;
}

.StatusChip-module__Hsl1ZW__chip.StatusChip-module__Hsl1ZW__status-todo {
  color: #66666e;
  background-color: #e5e5ea;
}

.StatusChip-module__Hsl1ZW__chip.StatusChip-module__Hsl1ZW__status-inProgress {
  color: #2d38ba;
  background-color: #e5e7ff;
}

.StatusChip-module__Hsl1ZW__chip.StatusChip-module__Hsl1ZW__status-done {
  color: #00802b;
  background-color: #d9f8de;
}

/* [project]/app/(main)/projects/(projects)/[projectId]/components/FlexTable.module.css [app-client] (css) */
.FlexTable-module__QJa8ca__table {
  flex-direction: column;
  gap: 8px;
  width: 100%;
  display: flex;
}

.FlexTable-module__QJa8ca__header, .FlexTable-module__QJa8ca__row {
  gap: 24px;
}

.FlexTable-module__QJa8ca__header {
  padding: 0 16px;
}

.FlexTable-module__QJa8ca__row {
  background: #fff;
  border: 1px solid #e5e5ea;
  border-radius: 8px;
  padding: 12px 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .02);
}

.FlexTable-module__QJa8ca__header {
  color: #888893;
  letter-spacing: -.3px;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
}

.FlexTable-module__QJa8ca__row {
  align-items: center;
  display: flex;
}

.FlexTable-module__QJa8ca__cell {
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  overflow: hidden;
}

.FlexTable-module__QJa8ca__cell.FlexTable-module__QJa8ca__align-center {
  justify-content: center;
}

.FlexTable-module__QJa8ca__cell.FlexTable-module__QJa8ca__align-left {
  justify-content: flex-start;
}

.FlexTable-module__QJa8ca__cell.FlexTable-module__QJa8ca__align-right {
  justify-content: flex-end;
}

/* [project]/app/(main)/projects/(projects)/[projectId]/tasks/page.module.css [app-client] (css) */
.page-module__01AcrW__tag {
  color: #2d38ba;
  margin-right: 4px;
}

.page-module__01AcrW__chevronRight {
  color: #c2c3cd;
  width: 24px;
  height: 24px;
}

.page-module__01AcrW__paginatorContainer {
  justify-content: center;
  margin-top: 24px;
  display: flex;
}

/* [project]/app/(main)/projects/(projects)/[projectId]/components/Paginator.module.css [app-client] (css) */
.Paginator-module__eKVEEG__wrapper {
  align-items: center;
  gap: 8px;
  display: flex;
}

.Paginator-module__eKVEEG__chevron {
  cursor: pointer;
  color: #333236;
  width: 24px;
  height: 24px;
}

.Paginator-module__eKVEEG__chevron.Paginator-module__eKVEEG__inactive {
  color: #c2c3cd;
  cursor: default;
}

.Paginator-module__eKVEEG__page {
  cursor: pointer;
  background: #fff;
  border: 1px solid #e5e5ea;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .02);
}

.Paginator-module__eKVEEG__page.Paginator-module__eKVEEG__active {
  color: #fff;
  background: #333236;
  border: 1px solid #fff;
}

/*# sourceMappingURL=_34d81ce0._.css.map*/