/* [project]/app/(main)/projects/(projects)/[projectId]/layout.module.css [app-client] (css) */
.layout-module__u76s8a__wrapper {
  max-width: 800px;
  margin: 40px auto;
}

.layout-module__u76s8a__breadcrumb {
  margin-bottom: 20px;
}

.layout-module__u76s8a__link {
  color: #66666e;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  display: flex;
}

.layout-module__u76s8a__chevron {
  width: 24px;
  height: 24px;
}

.layout-module__u76s8a__container {
  background: #fff;
  border: 1px solid #ededf0;
  border-radius: 16px;
  flex-direction: column;
  gap: 24px;
  padding: 40px;
  display: flex;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .02);
}

.layout-module__u76s8a__header {
  flex-direction: column;
  gap: 4px;
  display: flex;
  position: relative;
}

.layout-module__u76s8a__moreMenu {
  position: absolute;
  top: 0;
  right: 0;
}

.layout-module__u76s8a__projectIcon {
  width: 40px;
  height: 40px;
}

.layout-module__u76s8a__title {
  color: #333236;
  margin: 0;
  font-size: 38px;
  font-weight: 700;
}

.layout-module__u76s8a__description {
  color: #888893;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
}

/* [project]/shared/components/PopoverMenu.module.css [app-client] (css) */
.PopoverMenu-module__cQMBkG__button {
  color: #66666e;
  cursor: pointer;
  background-color: #fff;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  padding: 8px;
  display: flex;
}

.PopoverMenu-module__cQMBkG__button > svg {
  width: 24px;
  height: 24px;
}

.PopoverMenu-module__cQMBkG__button.PopoverMenu-module__cQMBkG__active, .PopoverMenu-module__cQMBkG__button:hover {
  background-color: #f6f6f8;
}

.PopoverMenu-module__cQMBkG__menu {
  background: #fff;
  border: 1px solid #e5e5ea;
  border-radius: 8px;
  flex-direction: column;
  gap: 4px;
  min-width: 112px;
  padding: 4px;
  display: flex;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
}

.PopoverMenu-module__cQMBkG__menuItem {
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  padding: 4px 8px;
  line-height: 27px;
}

.PopoverMenu-module__cQMBkG__menuItem:hover, .PopoverMenu-module__cQMBkG__menuItem.PopoverMenu-module__cQMBkG__active {
  background-color: #ededf0;
}

/* [project]/shared/components/Modal.module.css [app-client] (css) */
.Modal-module__WlqoGq__backdrop {
  z-index: 1;
  background-color: rgba(0, 0, 0, .5);
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 20px 0;
  animation: .2s ease-in-out Modal-module__WlqoGq__backdropFadeIn;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

@keyframes Modal-module__WlqoGq__backdropFadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }

  to {
    background-color: rgba(0, 0, 0, .5);
  }
}

.Modal-module__WlqoGq__modal {
  background: #fff;
  border-radius: 8px;
  margin: auto;
  padding: 24px;
  position: relative;
  box-shadow: 0 4px 28px rgba(0, 0, 0, .1);
}

.Modal-module__WlqoGq__closeButton {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -12px;
  right: -12px;
}

/* [project]/shared/components/Label.module.css [app-client] (css) */
.Label-module__5q0OMa__label {
  color: var(--black-100);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  display: block;
}

.Label-module__5q0OMa__label ~ input, .Label-module__5q0OMa__label ~ textarea {
  margin-top: 4px;
}

.Label-module__5q0OMa__label.Label-module__5q0OMa__error {
  color: var(--red-400);
}

/* [project]/shared/components/Input.module.css [app-client] (css) */
.Input-module__ITmFJq__input {
  --search-icon-size: 24px;
  color: #333236;
  border: 1px solid #888893;
  border-radius: 8px;
  outline: none;
  padding: 8px 12px;
  font-size: 16px;
  transition: border-color .2s ease-in-out;
}

.Input-module__ITmFJq__input:focus {
  border-color: #333236;
}

.Input-module__ITmFJq__input::placeholder {
  color: #888893;
}

.Input-module__ITmFJq__input.Input-module__ITmFJq__search {
  padding-left: calc(12px + var(--search-icon-size)  + 8px);
  background-image: url("/assets/search.svg");
  background-size: var(--search-icon-size);
  background-position: 12px;
  background-repeat: no-repeat;
}

.Input-module__ITmFJq__input.Input-module__ITmFJq__error {
  border-color: #ff4500;
}

.Input-module__ITmFJq__errorMessage {
  color: #ff4500;
  margin: 4px 0 0;
  font-size: 14px;
  font-weight: 700;
}

/* [project]/shared/components/Button.module.css [app-client] (css) */
.Button-module__dWMkza__button {
  color: var(--gray-50);
  background-color: var(--blue-500);
  cursor: pointer;
  border: none;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 700;
  display: flex;
}

.Button-module__dWMkza__button.Button-module__dWMkza__link {
  text-decoration: none;
}

.Button-module__dWMkza__button.Button-module__dWMkza__small {
  padding: 4px 12px;
  font-size: 16px;
}

.Button-module__dWMkza__button:disabled {
  background-color: var(--gray-400);
  cursor: not-allowed;
}

.Button-module__dWMkza__button:disabled:hover, .Button-module__dWMkza__button:disabled:focus, .Button-module__dWMkza__button:disabled:active {
  background-color: var(--gray-400);
}

.Button-module__dWMkza__button.Button-module__dWMkza__minimal {
  background-color: var(--gray-50);
  border: 1px solid var(--gray-200);
  color: var(--black-400);
}

.Button-module__dWMkza__button.Button-module__dWMkza__minimal:hover, .Button-module__dWMkza__button.Button-module__dWMkza__minimal:focus, .Button-module__dWMkza__button.Button-module__dWMkza__minimal:active {
  background-color: var(--gray-50);
  border-color: var(--gray-300);
}

.Button-module__dWMkza__button.Button-module__dWMkza__danger {
  color: #fff;
  background-color: #ce2637;
}

/* [project]/app/(main)/projects/(projects)/[projectId]/components/EditProjectModal.module.css [app-client] (css) */
.EditProjectModal-module__dGFV-W__modal {
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 360px;
  display: flex;
}

.EditProjectModal-module__dGFV-W__title {
  color: #333236;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

.EditProjectModal-module__dGFV-W__form {
  flex-direction: column;
  gap: 24px;
  display: flex;
}

.EditProjectModal-module__dGFV-W__inputContainer {
  flex-direction: column;
  gap: 4px;
  width: 100%;
  display: flex;
}

.EditProjectModal-module__dGFV-W__input, .EditProjectModal-module__dGFV-W__button {
  width: 100%;
}

/* [project]/app/(main)/projects/(projects)/[projectId]/components/DeleteProjectModal.module.css [app-client] (css) */
.DeleteProjectModal-module__c4Km6W__modal {
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 360px;
  display: flex;
}

.DeleteProjectModal-module__c4Km6W__content {
  flex-direction: column;
  gap: 8px;
  display: flex;
}

.DeleteProjectModal-module__c4Km6W__title {
  color: #333236;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

.DeleteProjectModal-module__c4Km6W__description {
  word-break: keep-all;
  color: #888893;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
}

.DeleteProjectModal-module__c4Km6W__form {
  flex-direction: column;
  gap: 24px;
  display: flex;
}

.DeleteProjectModal-module__c4Km6W__button {
  width: 100%;
}

/* [project]/shared/components/Dropdown.module.css [app-client] (css) */
.Dropdown-module__All2ba__dropdown {
  z-index: 0;
  position: relative;
}

.Dropdown-module__All2ba__select {
  color: #888893;
  cursor: pointer;
  border: 1px solid #dddee4;
  border-radius: 8px;
  outline: none;
  align-items: center;
  padding: 8px 44px 8px 12px;
  display: flex;
}

.Dropdown-module__All2ba__select.Dropdown-module__All2ba__open {
  background-color: #fff;
  border-color: #888893;
}

.Dropdown-module__All2ba__caret {
  color: #c2c3cd;
  cursor: pointer;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
}

.Dropdown-module__All2ba__options {
  z-index: 1;
  background: #fff;
  border: 1px solid #e5e5ea;
  border-radius: 8px;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  padding: 4px;
  display: flex;
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
}

.Dropdown-module__All2ba__option {
  cursor: pointer;
  color: #333236;
  letter-spacing: -.3px;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 16px;
  line-height: 27px;
}

.Dropdown-module__All2ba__option.Dropdown-module__All2ba__active, .Dropdown-module__All2ba__option:hover {
  background-color: #f5f5f7;
}

/* [project]/app/(main)/projects/(projects)/[projectId]/components/ProjectTab.module.css [app-client] (css) */
.ProjectTab-module__ytmqgG__container {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.ProjectTab-module__ytmqgG__tabs {
  gap: 16px;
  display: flex;
  box-shadow: inset 0 -2px #888893;
}

.ProjectTab-module__ytmqgG__tab {
  color: #888893;
  cursor: pointer;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  padding: 8px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: none;
  transition: border-color .4s, color .1s;
  display: inline-block;
}

.ProjectTab-module__ytmqgG__tab.ProjectTab-module__ytmqgG__active {
  color: #333236;
  border-bottom: 2px solid #333236;
}

.ProjectTab-module__ytmqgG__taskTabMenu {
  align-items: center;
  gap: 8px;
  display: flex;
}

.ProjectTab-module__ytmqgG__searchIcon {
  color: #888893;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.ProjectTab-module__ytmqgG__searchForm {
  justify-content: center;
  align-items: center;
  display: flex;
}

.ProjectTab-module__ytmqgG__searchInput {
  width: 200px;
}

.ProjectTab-module__ytmqgG__createTaskButton {
  color: #888893;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.ProjectTab-module__ytmqgG__assigneeDropdown {
  width: 140px;
}

.ProjectTab-module__ytmqgG__modal {
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 360px;
  display: flex;
}

.ProjectTab-module__ytmqgG__modalTitle {
  color: #333236;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

.ProjectTab-module__ytmqgG__modalDescription {
  word-break: keep-all;
  color: #888893;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
}

.ProjectTab-module__ytmqgG__modalForm {
  flex-direction: column;
  gap: 24px;
  display: flex;
}

.ProjectTab-module__ytmqgG__inputContainer {
  flex-direction: column;
  gap: 4px;
  width: 100%;
  display: flex;
}

.ProjectTab-module__ytmqgG__modalInput, .ProjectTab-module__ytmqgG__modalButton {
  width: 100%;
}

/* [project]/app/(main)/projects/(projects)/[projectId]/components/CreateTaskModal.module.css [app-client] (css) */
.CreateTaskModal-module__NZjm2q__modal {
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 360px;
  display: flex;
}

.CreateTaskModal-module__NZjm2q__title {
  color: #333236;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

.CreateTaskModal-module__NZjm2q__form {
  flex-direction: column;
  gap: 24px;
  display: flex;
}

.CreateTaskModal-module__NZjm2q__inputContainer {
  flex-direction: column;
  gap: 4px;
  display: flex;
}

.CreateTaskModal-module__NZjm2q__twoColumn {
  gap: 24px;
  display: flex;
}

.CreateTaskModal-module__NZjm2q__twoColumn > .CreateTaskModal-module__NZjm2q__inputContainer {
  flex-grow: 1;
  width: 0;
}

.CreateTaskModal-module__NZjm2q__twoColumn > .CreateTaskModal-module__NZjm2q__inputContainer > .CreateTaskModal-module__NZjm2q__input {
  width: 100%;
  min-width: 0;
}

.CreateTaskModal-module__NZjm2q__input, .CreateTaskModal-module__NZjm2q__button {
  width: 100%;
}

/* [project]/shared/components/TagInput.module.css [app-client] (css) */
.TagInput-module__2MEeTa__input {
  min-height: 45px;
  color: var(--black-50);
  border: 1px solid var(--gray-200);
  border-radius: 4px;
  outline: none;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  font-size: 16px;
  transition: border-color .2s ease-in-out;
  display: flex;
  position: relative;
}

.TagInput-module__2MEeTa__input.TagInput-module__2MEeTa__isFocused {
  border-color: var(--black-200);
}

.TagInput-module__2MEeTa__tag {
  color: #2d38ba;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
}

.TagInput-module__2MEeTa__placeholder {
  color: var(--gray-500);
}

.TagInput-module__2MEeTa__cursor {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  min-width: 24px;
  padding: 0 4px;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.TagInput-module__2MEeTa__hiddenSpan {
  opacity: 0;
  padding: 0 4px;
}

/* [project]/shared/components/FileInput.module.css [app-client] (css) */
.FileInput-module__coDAgG__container {
  background: #f6f6f8;
  border: 1px solid #e5e5ea;
  border-radius: 8px;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  display: flex;
}

.FileInput-module__coDAgG__file {
  background: #fff;
  border: 1px solid #ededf0;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  display: flex;
}

.FileInput-module__coDAgG__link {
  text-decoration: none;
}

.FileInput-module__coDAgG__closeIcon {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.FileInput-module__coDAgG__fileName {
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
  overflow: hidden;
}

.FileInput-module__coDAgG__input {
  display: none;
}

.FileInput-module__coDAgG__button {
  color: #333236;
  cursor: pointer;
  background: #e5e5ea;
  border: none;
  border-radius: 8px;
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

/*# sourceMappingURL=_3f185838._.css.map*/