/* [project]/shared/components/Input.module.css [app-client] (css) */
.Input-module__ITmFJq__input {
  --search-icon-size: 24px;
  color: #333236;
  border: 1px solid #888893;
  border-radius: 8px;
  outline: none;
  padding: 8px 12px;
  font-size: 16px;
  transition: border-color .2s ease-in-out;
}

.Input-module__ITmFJq__input:focus {
  border-color: #333236;
}

.Input-module__ITmFJq__input::placeholder {
  color: #888893;
}

.Input-module__ITmFJq__input.Input-module__ITmFJq__search {
  padding-left: calc(12px + var(--search-icon-size)  + 8px);
  background-image: url("/assets/search.svg");
  background-size: var(--search-icon-size);
  background-position: 12px;
  background-repeat: no-repeat;
}

.Input-module__ITmFJq__input.Input-module__ITmFJq__error {
  border-color: #ff4500;
}

.Input-module__ITmFJq__errorMessage {
  color: #ff4500;
  margin: 4px 0 0;
  font-size: 14px;
  font-weight: 700;
}

/* [project]/shared/components/Button.module.css [app-client] (css) */
.Button-module__dWMkza__button {
  color: var(--gray-50);
  background-color: var(--blue-500);
  cursor: pointer;
  border: none;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 700;
  display: flex;
}

.Button-module__dWMkza__button.Button-module__dWMkza__link {
  text-decoration: none;
}

.Button-module__dWMkza__button.Button-module__dWMkza__small {
  padding: 4px 12px;
  font-size: 16px;
}

.Button-module__dWMkza__button:disabled {
  background-color: var(--gray-400);
  cursor: not-allowed;
}

.Button-module__dWMkza__button:disabled:hover, .Button-module__dWMkza__button:disabled:focus, .Button-module__dWMkza__button:disabled:active {
  background-color: var(--gray-400);
}

.Button-module__dWMkza__button.Button-module__dWMkza__minimal {
  background-color: var(--gray-50);
  border: 1px solid var(--gray-200);
  color: var(--black-400);
}

.Button-module__dWMkza__button.Button-module__dWMkza__minimal:hover, .Button-module__dWMkza__button.Button-module__dWMkza__minimal:focus, .Button-module__dWMkza__button.Button-module__dWMkza__minimal:active {
  background-color: var(--gray-50);
  border-color: var(--gray-300);
}

.Button-module__dWMkza__button.Button-module__dWMkza__danger {
  color: #fff;
  background-color: #ce2637;
}

/* [project]/shared/components/Label.module.css [app-client] (css) */
.Label-module__5q0OMa__label {
  color: var(--black-100);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  display: block;
}

.Label-module__5q0OMa__label ~ input, .Label-module__5q0OMa__label ~ textarea {
  margin-top: 4px;
}

.Label-module__5q0OMa__label.Label-module__5q0OMa__error {
  color: var(--red-400);
}

/* [project]/app/(auth)/components/SocialButton.module.css [app-client] (css) */
.SocialButton-module__ft1--W__socialButton {
  cursor: pointer;
  background-color: #ddd;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 12px;
  display: flex;
}

.SocialButton-module__ft1--W__socialButtonImage {
  object-fit: contain;
  width: 20px;
  height: 20px;
}

.SocialButton-module__ft1--W__google {
  background-color: #fff3f2;
}

.SocialButton-module__ft1--W__naver {
  background-color: #ebf8f1;
}

.SocialButton-module__ft1--W__facebook {
  background-color: #eaeffd;
}

.SocialButton-module__ft1--W__kakao {
  background-color: #faf2e6;
}

/* [project]/app/(auth)/shared.module.css [app-client] (css) */
.shared-module__TwSlQq__container {
  flex-direction: column;
  gap: 32px;
  display: flex;
}

.shared-module__TwSlQq__title {
  margin: 0;
}

.shared-module__TwSlQq__form {
  flex-direction: column;
  gap: 16px;
  display: flex;
}

.shared-module__TwSlQq__inputContainer {
  flex-direction: column;
  gap: 4px;
  display: flex;
}

.shared-module__TwSlQq__linkContainer {
  text-align: center;
}

.shared-module__TwSlQq__socialLoginContainer {
  justify-content: center;
  align-items: center;
  gap: 32px;
  display: flex;
}

.shared-module__TwSlQq__socialButtonContainer {
  justify-content: center;
  align-items: center;
  gap: 16px;
  display: flex;
}

/*# sourceMappingURL=_d8ee4296._.css.map*/