/* [project]/app/(main)/projects/(projects)/[projectId]/components/FlexTable.module.css [app-client] (css) */
.FlexTable-module__QJa8ca__table {
  flex-direction: column;
  gap: 8px;
  width: 100%;
  display: flex;
}

.FlexTable-module__QJa8ca__header, .FlexTable-module__QJa8ca__row {
  gap: 24px;
}

.FlexTable-module__QJa8ca__header {
  padding: 0 16px;
}

.FlexTable-module__QJa8ca__row {
  background: #fff;
  border: 1px solid #e5e5ea;
  border-radius: 8px;
  padding: 12px 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .02);
}

.FlexTable-module__QJa8ca__header {
  color: #888893;
  letter-spacing: -.3px;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
}

.FlexTable-module__QJa8ca__row {
  align-items: center;
  display: flex;
}

.FlexTable-module__QJa8ca__cell {
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  overflow: hidden;
}

.FlexTable-module__QJa8ca__cell.FlexTable-module__QJa8ca__align-center {
  justify-content: center;
}

.FlexTable-module__QJa8ca__cell.FlexTable-module__QJa8ca__align-left {
  justify-content: flex-start;
}

.FlexTable-module__QJa8ca__cell.FlexTable-module__QJa8ca__align-right {
  justify-content: flex-end;
}

/* [project]/app/(main)/projects/(projects)/[projectId]/members/page.module.css [app-client] (css) */
.page-module__yDl3eG__paginatorContainer {
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  display: flex;
}

.page-module__yDl3eG__invitationContainer {
  align-items: center;
  gap: 24px;
  display: flex;
}

/* [project]/app/(main)/projects/(projects)/[projectId]/components/Paginator.module.css [app-client] (css) */
.Paginator-module__eKVEEG__wrapper {
  align-items: center;
  gap: 8px;
  display: flex;
}

.Paginator-module__eKVEEG__chevron {
  cursor: pointer;
  color: #333236;
  width: 24px;
  height: 24px;
}

.Paginator-module__eKVEEG__chevron.Paginator-module__eKVEEG__inactive {
  color: #c2c3cd;
  cursor: default;
}

.Paginator-module__eKVEEG__page {
  cursor: pointer;
  background: #fff;
  border: 1px solid #e5e5ea;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .02);
}

.Paginator-module__eKVEEG__page.Paginator-module__eKVEEG__active {
  color: #fff;
  background: #333236;
  border: 1px solid #fff;
}

/* [project]/app/(main)/projects/(projects)/[projectId]/members/components/RemoveMemberModal.module.css [app-client] (css) */
.RemoveMemberModal-module__jtGK-G__modal {
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 360px;
  display: flex;
}

.RemoveMemberModal-module__jtGK-G__content {
  flex-direction: column;
  gap: 8px;
  display: flex;
}

.RemoveMemberModal-module__jtGK-G__title {
  color: #333236;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

.RemoveMemberModal-module__jtGK-G__description {
  word-break: keep-all;
  color: #888893;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
}

.RemoveMemberModal-module__jtGK-G__form {
  flex-direction: column;
  gap: 24px;
  display: flex;
}

.RemoveMemberModal-module__jtGK-G__button {
  width: 100%;
}

/* [project]/app/(main)/projects/(projects)/[projectId]/members/components/RemoveMember.module.css [app-client] (css) */
.RemoveMember-module__Iszgfq__removeMember {
  color: #66666e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: underline;
}

/* [project]/app/(main)/projects/(projects)/[projectId]/members/components/RemoveInvitation.module.css [app-client] (css) */
.RemoveInvitation-module__wxkquG__removeInvitation {
  color: #66666e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: underline;
}

/*# sourceMappingURL=app_%28main%29_projects_%28projects%29_%5BprojectId%5D_52ebcaae._.css.map*/